.loginReg {
  font-size: 0.8rem;
  line-height: 3.1rem;
  white-space: nowrap;
}

.loginReg span:hover{
  cursor: pointer;
  text-decoration: underline;
}

.loginReg .notifications {
  margin-left: 0.2rem;
  padding: 0.1rem 0.2rem 0.2rem;
  background-color: red;
  border-radius: 0.2rem;
}

.regLoginForm label {
  display: block;
  margin-bottom: 0.15rem;
  font-weight: bold;
  font-size: 0.8rem;
  font-family: "Quicksand", sans-serif;
  color: #414956;
}

.regLoginForm input, .regLoginForm textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #d9e2f1;
  background-color: #fff;
  color: #414956;
  font-size: 0.8rem;
  font-family: "Quicksand", sans-serif;
}

.regLoginForm .formActions{
  margin: 2rem 0 0;
  float: right;
}

.regLoginForm .formActions button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #0f61ef;
  color: #fff;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.regLoginForm .formActions button:hover {
  background-color: #0f3cef;
}

.regLoginForm .formActions button:last-of-type {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: transparent;
  color: #314a77;
  border: none;
  box-shadow: none;
}

.regLoginForm .formActions button:last-of-type:hover {
  background-color: transparent;
  color: #0f3cef;
}
