.home {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 6rem 2rem 0;
}

.home > div {
  width: 100%;
}

.home a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: underline;
}

@media screen and (min-width: 1201px) {
  .home > div {
    width: 48%;
  }
}
