.welcomeContent {
  height: 100rem;
}

.welcomeContent section {
  margin: 6rem 0;
}

.welcomeContent h2 {
  font-size: 2.5rem;
  margin: 2rem 0;
  color: #f2f25d;
}

.welcomeHeaderContent {
  margin-top: 20rem;
  text-align: center;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  height: 20vh;
}

.welcomeHeaderContent h1 {
  font-size: 3rem;
  color: #fff;
  opacity: 0.8;
  margin: 2rem 0;
}

.welcomeImg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* @media screen and (max-width: 768px) {
  .welcomeImg {
    clip-path: polygon(30% 0%, 70% 0%, 70% 100%, 30% 100%);
  }
} */

.cityImage {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 2rem;
  left: 0;
  object-fit: cover;
}

@media (max-width: 768px) {
  .cityImage {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 2rem;
    left: 0;
    object-fit: cover;
  }
}

.heroImage {
  width: 20rem;
  max-width: 40%;
  position: absolute;
  bottom: 10%;
  left: 25%;
  object-fit: cover;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.5));
}
